---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import AutoSlider from '../components/AutoSlider.astro';
import MovieCard from '../components/MovieCard.astro';
import ShowCard from '../components/ShowCard.astro';
import EpisodeCard from '../components/EpisodeCard.astro';
import LatestCard from '../components/LatestCard.astro';
import { getCollection } from 'astro:content';

const movies = (await getCollection('movies')).filter(m => !m.data.draft).slice(0, 10);
const shows = (await getCollection('shows')).filter(s => !s.data.draft).slice(0, 10);
const anime = (await getCollection('anime')).filter(a => !a.data.draft).slice(0, 10);

const allEpisodes = (await getCollection('episodes')).filter(e => !e.data.draft);
const allAnimeEpisodes = (await getCollection('animeEpisodes')).filter(e => !e.data.draft);
const latestEpisodes = allEpisodes.slice(0, 10);

// Get latest additions
const latestMovie = movies[0];
const latestShow = shows[0];
const latestShowEpisode = allEpisodes[0];
const latestAnime = anime[0];
const latestAnimeEpisode = allAnimeEpisodes[0];
---

<Layout title="Stream - منصة مشاهدة الأفلام والمسلسلات">
  <AutoSlider title="أحدث الإضافات" autoplay={true} interval={5000}>
    {latestMovie && (
      <div class="min-w-full flex-shrink-0">
        <LatestCard
          label="فيلم جديد"
          title={latestMovie.data.title}
          thumbnail={latestMovie.data.thumbnail}
          href={`/movies/${latestMovie.data.id}`}
          year={latestMovie.data.year}
        />
      </div>
    )}

    {latestShow && (
      <div class="min-w-full flex-shrink-0">
        <LatestCard
          label="مسلسل جديد"
          title={latestShow.data.title}
          thumbnail={latestShow.data.thumbnail}
          href={`/shows/${latestShow.data.tv}`}
          year={latestShow.data.year}
        />
      </div>
    )}

    {latestShowEpisode && (
      <div class="min-w-full flex-shrink-0">
        <LatestCard
          label="حلقة مسلسل جديدة"
          title={latestShowEpisode.data.title}
          thumbnail={shows.find(s => s.data.tv === latestShowEpisode.data.tv)?.data.thumbnail || ''}
          href={`/shows/${latestShowEpisode.data.tv}/${latestShowEpisode.data.se}/${latestShowEpisode.data.ep}`}
          info={`الحلقة ${latestShowEpisode.data.ep}`}
        />
      </div>
    )}

    {latestAnime && (
      <div class="min-w-full flex-shrink-0">
        <LatestCard
          label="أنمي جديد"
          title={latestAnime.data.title}
          thumbnail={latestAnime.data.thumbnail}
          href={`/anime/${latestAnime.data.tv}`}
          year={latestAnime.data.year}
        />
      </div>
    )}

    {latestAnimeEpisode && (
      <div class="min-w-full flex-shrink-0">
        <LatestCard
          label="حلقة أنمي جديدة"
          title={latestAnimeEpisode.data.title}
          thumbnail={anime.find(a => a.data.tv === latestAnimeEpisode.data.tv)?.data.thumbnail || ''}
          href={`/anime/${latestAnimeEpisode.data.tv}/${latestAnimeEpisode.data.se}/${latestAnimeEpisode.data.ep}`}
          info={`الحلقة ${latestAnimeEpisode.data.ep}`}
        />
      </div>
    )}
  </AutoSlider>

  {latestEpisodes.length > 0 && (
    <Slider title="أحدث الحلقات" viewAllLink="/episodes">
      {latestEpisodes.map(episode => (
        <div class="min-w-[200px] sm:min-w-[250px] snap-start">
          <EpisodeCard
            tv={episode.data.tv}
            se={episode.data.se}
            ep={episode.data.ep}
            title={episode.data.title}
            duration={episode.data.duration}
          />
        </div>
      ))}
    </Slider>
  )}

  {movies.length > 0 && (
    <Slider title="الأفلام" viewAllLink="/movies">
      {movies.map(movie => (
        <div class="min-w-[150px] sm:min-w-[180px] snap-start">
          <MovieCard
            id={movie.data.id}
            title={movie.data.title}
            year={movie.data.year}
            thumbnail={movie.data.thumbnail}
          />
        </div>
      ))}
    </Slider>
  )}

  {shows.length > 0 && (
    <Slider title="المسلسلات" viewAllLink="/shows">
      {shows.map(show => (
        <div class="min-w-[150px] sm:min-w-[180px] snap-start">
          <ShowCard
            tv={show.data.tv}
            title={show.data.title}
            year={show.data.year}
            thumbnail={show.data.thumbnail}
          />
        </div>
      ))}
    </Slider>
  )}

  {anime.length > 0 && (
    <Slider title="الأنمي" viewAllLink="/anime">
      {anime.map(item => (
        <div class="min-w-[150px] sm:min-w-[180px] snap-start">
          <ShowCard
            tv={item.data.tv}
            title={item.data.title}
            year={item.data.year}
            thumbnail={item.data.thumbnail}
            type="anime"
          />
        </div>
      ))}
    </Slider>
  )}
</Layout>
